*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.parent{
    display: grid;
    grid-template-columns: minmax(20%,50%) auto;
    margin-top: 150px;
    box-shadow: 5px 10px 20px rgb(207, 204, 204);
}
section{
    padding: 5px;
    z-index: 200;
}
img{
    /* width: 200px; */
    width: 300px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    background-image: linear-gradient(120deg,rgb(55, 127, 151),rgb(21, 81, 100));
    border-radius: 25px;
    text-align: center;
    width: 300px;
    text-transform: capitalize;
    font-size:20px ;
    transition: all 0.5s ease;
    padding: 2px;
}
p:hover{
    margin-left:30px;
    box-shadow: 5px 10px 20px rgb(199, 195, 195);
}
h2{
text-transform:capitalize;
}
@media screen and (max-width:480px){
    .sec1{
        filter: blur(20px);
    }
    .parent{
        margin-top: 100px;
    }
    img{
        position: relative;
        right: 20px;
    }
    .parent{
        display: grid;
        grid-template-columns: minmax(10%,10%) auto;
        margin-top: 150px;
        box-shadow: 5px 10px 10px darkgray;
    }
    p{
        width: 200px;
    }
    section{
        position:relative;
        right: 10px;
    }
}